<!-- <ion-header></ion-header> -->

<ion-content [fullscreen]="true">
  <ion-card class="infoCard" style="background-image: url('../../assets/backgrounds/TabDefaultBackground.svg');">
    <ion-card-content>
      <h1>Hábitos que evitam infecções</h1>
      <img src="../../assets/illustrations/IllustrationShield.svg">
    </ion-card-content>
  </ion-card>

  <ion-card class="habitsTooltipCard hidden">
    <ion-card-content>
      <img src="../../assets/icon/TooltipIcon.svg">
      <p>O acesso a <strong>saneamento básico</strong> é fundamental na prevenção de infecções.</p>
    </ion-card-content>
  </ion-card>

  <div class="habitsSectionInfo">
    <img src="../../assets/illustrations/habits/Illustration1.svg">
    <p>Mantenha o cartão de<br>vacinas atualizado</p>
  </div>

  <div class="habitsSectionInfo hidden">
    <img src="../../assets/illustrations/habits/Illustration2.svg">
    <p>Mantenha a higiene corporal adequada</p>
  </div>

  <div class="habitsSectionInfo hidden">
    <img src="../../assets/illustrations/habits/Illustration3.svg">
    <p>Use e consuma água limpa</p>
  </div>

  <div id="habitsFootBar">
    <div class="pageIndicator">
      <div class="habitsPageBullet"></div>
      <div class="habitsPageBullet"></div>
      <div class="habitsPageBullet"></div>
    </div>
    <button class="habitsPageButtons" color="dark" (click)="previousPage()">Voltar</button>
    <button class="habitsPageButtons" color="primary" (click)="nextPage()">Próxima</button>
  </div>
</ion-content>
