<ion-content>
  <div class="tab3SubPageHeader">
    <img src="../../../assets/icon/ArrowForwardIcon.svg" style="transform: rotate(180deg);" (click)="navBack()">
    <h1>Referências</h1>
    <div></div>
  </div>

  <ion-card class="staticTooltipCard">
    <ion-card-content>
      <img src="../../assets/icon/TooltipIcon.svg">
      <p>Ao clicar em algum desses botões, você será redirecionado para uma página fora do aplicativo.</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="refsCard" href="https://ilas.org.br/">
    <ion-card-content>
      <img src="../../../assets/icon/LinkIcon.svg">
      <p>Instituto Latino Americano de Sepse (ILAS)</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="refsCard" href="https://www.global-sepsis-alliance.org/">
    <ion-card-content>
      <img src="../../../assets/icon/LinkIcon.svg">
      <p>Aliança Global Sobre Sepse</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="refsCard" href="https://www.worldsepsisday.org/sepsis">
    <ion-card-content>
      <img src="../../../assets/icon/LinkIcon.svg">
      <p>Pare a Sepse Salve Vidas</p>
    </ion-card-content>
  </ion-card>
</ion-content>
