<!-- <ion-header></ion-header> -->

<ion-content [fullscreen]="true">
  <ion-card class="infoCard" style="background-image: url('../../assets/backgrounds/TabDefaultBackground.svg');">
    <ion-card-content>
      <h1>Como saber se estou com Sepse?</h1>
      <img src="../../assets/illustrations/IllustrationQuestion.svg">
    </ion-card-content>
  </ion-card>

  <ion-card class="staticTooltipCard containerTop">
    <ion-card-content>
      <img src="../../assets/icon/TooltipIcon.svg">
      <p>Esses são alguns dos fatores de risco para Sepse.</p>
    </ion-card-content>
  </ion-card>

  <div class="progressBarContainer containerTop hidden">
    <p id="fillBarText">1 de 6</p>
    <div class="progressBar">
      <div id="fillBar"></div>
    </div>
  </div>

  <div id="questionsContainer1">
    <div class="questionsList">
      <div class="listItem">
        <p>Você tem mais de 60 anos ou menos de 1 ano?</p>
        <ion-item class="listCheckBox">
          <ion-label>Sim</ion-label>
          <ion-checkbox (ionChange)="checkingBox(0, 0)"></ion-checkbox>
        </ion-item>
        <ion-item class="listCheckBox">
          <ion-label>Não</ion-label>
          <ion-checkbox (ionChange)="checkingBox(0, 1)"></ion-checkbox>
        </ion-item>
      </div>
      <div class="listItem">
        <p>Está com imunidade baixa?</p>
        <ion-item class="listCheckBox">
          <ion-label>Sim</ion-label>
          <ion-checkbox (ionChange)="checkingBox(1, 0)"></ion-checkbox>
        </ion-item>
        <ion-item class="listCheckBox">
          <ion-label>Não</ion-label>
          <ion-checkbox (ionChange)="checkingBox(1, 1)"></ion-checkbox>
        </ion-item>
      </div>
      <div class="listItem">
        <p>Tem doença crônica no pulmão ou fígado?</p>
        <ion-item class="listCheckBox">
          <ion-label>Sim</ion-label>
          <ion-checkbox (ionChange)="checkingBox(2, 0)"></ion-checkbox>
        </ion-item>
        <ion-item class="listCheckBox">
          <ion-label>Não</ion-label>
          <ion-checkbox (ionChange)="checkingBox(2, 1)"></ion-checkbox>
        </ion-item>
      </div>
      <div class="listItem">
        <p>Tem diabetes ou AIDS?</p>
        <ion-item class="listCheckBox">
          <ion-label>Sim</ion-label>
          <ion-checkbox (ionChange)="checkingBox(3, 0)"></ion-checkbox>
        </ion-item>
        <ion-item class="listCheckBox">
          <ion-label>Não</ion-label>
          <ion-checkbox (ionChange)="checkingBox(3, 1)"></ion-checkbox>
        </ion-item>
      </div>
      <div class="listItem">
        <p>Tirou o baço?</p>
        <ion-item class="listCheckBox">
          <ion-label>Sim</ion-label>
          <ion-checkbox (ionChange)="checkingBox(4, 0)"></ion-checkbox>
        </ion-item>
        <ion-item class="listCheckBox">
          <ion-label>Não</ion-label>
          <ion-checkbox (ionChange)="checkingBox(4, 1)"></ion-checkbox>
        </ion-item>
      </div>
    </div>
    <div class="staticQuestionsFooter">
      <button (click)="goBack()">Voltar</button>
      <button (click)="changePart(2)" class="{{(allChecked === 5) ? 'enabled' : ''}}">Próximo</button>
    </div>
  </div>

  <div id="questionsContainer2" class="contCollapsed">
    <div class="listItem current">
      <p>Está com alguma infecção agora?</p>
      <img src="../../../assets/illustrations/howToKnow/Illustration1.svg">
      <ion-item class="listCheckBox">
        <ion-label>Sim</ion-label>
        <ion-checkbox (ionChange)="checkingBox(5, 0)"></ion-checkbox>
      </ion-item>
      <ion-item class="listCheckBox">
        <ion-label>Não</ion-label>
        <ion-checkbox (ionChange)="checkingBox(5, 1)"></ion-checkbox>
      </ion-item>
    </div>
    <div class="listItem">
      <p>Está falando com dificuldade ou percebe-se com pensamentos desorganizados?</p>
      <img src="../../../assets/illustrations/howToKnow/Illustration2.svg">
      <ion-item class="listCheckBox">
        <ion-label>Sim</ion-label>
        <ion-checkbox (ionChange)="checkingBox(6, 0)"></ion-checkbox>
      </ion-item>
      <ion-item class="listCheckBox">
        <ion-label>Não</ion-label>
        <ion-checkbox (ionChange)="checkingBox(6, 1)"></ion-checkbox>
      </ion-item>
    </div>
    <div class="listItem">
      <p>Tem dor muscular ou febre?</p>
      <img src="../../../assets/illustrations/howToKnow/Illustration3.svg">
      <ion-item class="listCheckBox">
        <ion-label>Sim</ion-label>
        <ion-checkbox (ionChange)="checkingBox(7, 0)"></ion-checkbox>
      </ion-item>
      <ion-item class="listCheckBox">
        <ion-label>Não</ion-label>
        <ion-checkbox (ionChange)="checkingBox(7, 1)"></ion-checkbox>
      </ion-item>
    </div>
    <div class="listItem">
      <p>Está sem urinar?</p>
      <img src="../../../assets/illustrations/howToKnow/Illustration4.svg">
      <ion-item class="listCheckBox">
        <ion-label>Sim</ion-label>
        <ion-checkbox (ionChange)="checkingBox(8, 0)"></ion-checkbox>
      </ion-item>
      <ion-item class="listCheckBox">
        <ion-label>Não</ion-label>
        <ion-checkbox (ionChange)="checkingBox(8, 1)"></ion-checkbox>
      </ion-item>
    </div>
    <div class="listItem">
      <p>Tem ansiedade ou perda de consciência?</p>
      <img src="../../../assets/illustrations/howToKnow/Illustration5.svg">
      <ion-item class="listCheckBox">
        <ion-label>Sim</ion-label>
        <ion-checkbox (ionChange)="checkingBox(9, 0)"></ion-checkbox>
      </ion-item>
      <ion-item class="listCheckBox">
        <ion-label>Não</ion-label>
        <ion-checkbox (ionChange)="checkingBox(9, 1)"></ion-checkbox>
      </ion-item>
    </div>
    <div class="listItem">
      <p>Tem manchas na pele ou está com palidez?</p>
      <img src="../../../assets/illustrations/howToKnow/Illustration6.svg">
      <ion-item class="listCheckBox">
        <ion-label>Sim</ion-label>
        <ion-checkbox (ionChange)="checkingBox(10, 0)"></ion-checkbox>
      </ion-item>
      <ion-item class="listCheckBox">
        <ion-label>Não</ion-label>
        <ion-checkbox (ionChange)="checkingBox(10, 1)"></ion-checkbox>
      </ion-item>
    </div>

    <div class="questionsFooter collapsedLeft">
      <button (click)="previousIndex()">Anterior</button>
      <button (click)="nextIndex()">Próximo</button>
    </div>
  </div>
</ion-content>
