ion-content {
  --overflow: hidden;
}

.progressBarContainer {
  position: relative;
  width: 90%;
  height: 2rem;
  text-align: center;
  margin: auto;
  margin-top: 1rem;
  transition: height .25s, opacity .25s, margin-top .25s;

  &.hidden {
    opacity: 0;
    height: 0;
    margin-top: 0;
  }

  p {
    color: #343538;
    font: 500 1rem/1.2rem Inter;
    margin: 0 0 .5rem 0;
  }

  div {
    position: absolute;
    height: -webkit-fill-available;
    left: 0;

    &.progressBar {
      border-radius: 10px;
      background-color: #E9ECEF;
      width: 100%;
      overflow: hidden;
    }

    &#fillBar {
      width: 16.5%;
      background-color: #00BB7E;
      transition: width .25s 0s;
    }
  }
}

.listCheckBox {
  --background: transparent;
  border: 2px solid #CED4DA;
  border-radius: 20px;
  --border-color: transparent;
  margin-bottom: .5rem;
  transition: border-color .25s;

  ion-icon {
    color: transparent;
    transition: color .25s;
    position: absolute;
    right: 1.625rem;
  }

  &.item-checkbox-checked {
    border-color: #00BB7E;

    ion-icon {
      color: #00BB7E;
    }
  }

  ion-checkbox {
    --size: 1.25rem;
    --checkmark-width: 2px;
    --background: white;
    --checkmark-color: #00BB7E;
    --border-color-checked: #00BB7E;
    --background-checked: white;

    &::part(container) {
      opacity: 0;
      // border-radius: 50%;
      // --border-color: #CED4DA;
    }
  }

  ion-label {
    color: #343538;
    position: absolute;
    left: .5rem;
    font: 400 1em/1.2em Inter;
  }
}

#questionsContainer1 {
  position: absolute;
  width: 100%;
  // height: calc(100% - 54vw - 7em);
  // bottom: 0;
  height: -webkit-fill-available;
  margin-top: 1rem;
  background-color: white;
  overflow-y: hidden;
  border-radius: 20px 20px 0px 0px !important;
  box-shadow: 0px 0px 10px rgba(52, 53, 56, 0.1);
  padding-top: 1.5rem;
  padding-bottom: 8.5rem;
  transition: opacity .25s 0s, height .25s 0s;

  &.contCollapsed {
    opacity: 0;
    z-index: -100;
  }

  .questionsList {
    width: 100%;
    height: 100%;
    padding: 0 1.5rem;
    overflow-y: scroll;
    z-index: 10;

    .listItem {
      p {
        color: #343538;
        font: 600 1em/1.5em Inter;
      }
    }
  }

  .staticQuestionsFooter {
    padding: 1.5rem 1.5rem 1rem 1.5rem;
    position: fixed;
    bottom: 0;
    width: 100%;

    button {
      width: 9em;
      height: auto;
      border-radius: 0.625rem;
      font: 700 1em/1em Inter;
      text-transform: none;
      padding: 1rem 2rem;
      box-shadow: 0px 1px 3px rgba(11, 19, 36, 0.1), inset 0px -1px 0px rgba(0, 0, 0, 0.1);
      transition: background-color .25s, color .25s;

      &:first-child {
        float: left;
        color: #525657;
        background-color: #fff;
        border: 1px solid rgba(11, 19, 36, 0.07);

        &:active {
          background-color: #F8F9FA;
        }
      }

      &:last-child {
        float: right;
        opacity: 1;
        background-color: #E9ECEF;
        border-color: #CED4DA;
        color: #ADB5BD;
        pointer-events: none;

        &.enabled {
          background-color: #00BB7E;
          border-color: #00895F;
          box-shadow: 0px 1px 4px rgba(0, 89, 61, 0.25), inset 0px -1px 0px rgba(0, 0, 0, 0.25);
          color: #fff;
          pointer-events: initial;

          &:active {
            background-color: #00895F;
          }
        }
      }
    }
  }
}

#questionsContainer2 {
  position: absolute;
  width: 100%;
  height: -webkit-fill-available;
  margin-top: 1rem;
  background-color: white;
  overflow-y: hidden;
  border-top: 2px solid #ADB5BD;
  padding-top: 1.5rem;
  padding-bottom: 8.5rem;
  transition: opacity .25s 0s, height .25s 0s;

  &.contCollapsed {
    opacity: 0;
    z-index: -100;
  }

  .listItem {
    width: 100%;
    padding: 0 5%;
    margin: auto;
    margin-bottom: 9rem;
    position: absolute;
    left: 0;
    right: 0;
    height: -webkit-fill-available;
    height: -moz-available;
    height: stretch;
    text-align: center;
    overflow-y: scroll;

    opacity: 0;
    z-index: -100;
    // transition: opacity .25s;

    &.current {
      opacity: 1;
      z-index: 0;
    }

    p {
      color: #343538;
      font: 600 1.5rem/1.75rem Inter;
      margin: 0;
    }

    img {
      margin: 1.5rem 0;
      width: 45%;
    }
  }

  .questionsFooter {
    padding: 1.5rem 1.5rem 0 1.5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;

    &.disabled {
      button:last-child {
        background-color: #E9ECEF;
        border-color: #CED4DA;
        color: #ADB5BD;
        box-shadow: 0px 1px 3px rgba(11, 19, 36, 0.1), inset 0px -1px 0px rgba(0, 0, 0, 0.1);
        pointer-events: none;
      }
    }

    button {
      position: absolute;
      bottom: 0;
      width: 9em;
      height: auto;
      border-radius: 0.625rem;
      font: 700 1em/1em Inter;
      text-transform: none;
      padding: 1rem 2rem;
      transition: width .35s, opacity .35s, padding 0.35s, background-color .25s, color .25s;
      white-space: nowrap;
      overflow: hidden;

      &:first-child {
        left: 0;
        background-color: #fff;
        border: 1px solid rgba(11, 19, 36, 0.07);
        box-shadow: 0px 1px 3px rgba(11, 19, 36, 0.1), inset 0px -1px 0px rgba(0, 0, 0, 0.1);
        color: #525657;

        &:active {
          background-color: #F8F9FA;
        }
      }

      &:last-child {
        right: 0;
        background-color: #00BB7E;
        border: 1px solid #00895F;
        box-shadow: 0px 1px 4px rgba(0, 89, 61, 0.25), inset 0px -1px 0px rgba(0, 0, 0, 0.25);
        color: #fff;

        &:active {
          background-color: #00895F;
        }
      }
    }

    &.collapsedLeft {
      button:first-child{
        min-width: 0%;
        width: 0%;
        padding: 1rem 0;
        opacity: 0;
      }
      button:last-child {
        width: 100%;
      }
    }
  }
}
