#overlayContainer {
  width: 100%;
  height: 100%;
  background-color: #fff;
  text-align: center;

  #overlayHeader {
    height: 45%;
    min-height: 40vw;
    max-height: 60vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .messageContainer {
    width: 100%;
    height: auto;
    padding-top: 1.5rem;
    border-top: 1px solid #ADB5BD;;

    h1 {
      color: #343538;
      font: 600 1.5rem/1.75rem Inter;
      margin: 0;
    }

    button {
      position: absolute;
      width: 90%;
      bottom: 1.5rem;
      left: 0;
      right: 0;
      margin: auto;
      text-transform: none;
      border-radius: 10px;
      height: auto;
      padding: 1rem 2rem;
      background-color: #00BB7E;
      border: 1px solid #00895F;
      box-shadow: 0px 1px 4px rgba(0, 89, 61, 0.25), inset 0px -1px 0px rgba(0, 0, 0, 0.25);
      color: white;
      font: 700 1em/1em Inter;
    }

    .staticTooltipCard {
      text-align: left;
      padding: 0 1rem;

      &.goodTooltip {
        background: #ABFEE6;
        border: 1px solid #00895F;
      }

      &.intermediateTooltip {
        background: #FFFAE6;
        border: 1px solid #FAB031;
      }

      &.badTooltip {
        background: #FFCFCF;
        border: 1px solid #E44C5E;
      }
    }
  }
}
