<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <div></div>
      <ion-icon src="../../assets/icon/HomeIcon.svg"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <div></div>
      <ion-icon src="../../assets/icon/MasksIcon.svg"></ion-icon>
      <ion-label>Prevenção</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <div></div>
      <ion-icon src="../../assets/icon/InfoIcon.svg"></ion-icon>
      <ion-label>Sobre</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
