.tabsSectionInfo {
  position: absolute;
  right: 0;
  left: 0;
  width: 90%;
  height: -webkit-fill-available;
  height: -moz-available;
  height: stretch;
  height: fill-available;
  overflow-y: scroll;
  text-align: center;
  margin: auto;
  margin-bottom: 11.5rem;
  margin-top: 3rem;
  transition: opacity .25s;

  p {
    color: #343538;
    font: 500 1.125em/1.375em Inter;
    margin-top: 2rem;
    margin-bottom: 0;
  }

  @media (max-width: 500px) and (max-height: 800px) {
    margin-top: 1.25rem;

    p {
      margin-top: .5rem;
    }
  }

  @media (min-width: 500px) and (max-height: 1000px){
    margin-top: 1.25rem;

    p {
      margin-top: .5rem;
    }
  }
}

.hidden {
  opacity: 0 !important;
  z-index: -1;
}
