ion-content {
  --offset-top: 20px !important;
  z-index: 10;
  // margin-top: 1em;
  // overflow-y: scroll;

  &::part(background) {
    border-radius: 20px 20px 0px 0px !important;
  }

  &::part(scroll) {
    margin-top: 1em;
  }

  >div.title {
    width: 90%;
    margin: auto;

    h1 {
      font: 600 1.5em/1.8em Inter;
      margin: 0;
      color: #343538;
    }
  }
}

// ion-tab-button {
//   height: auto;
//   width: auto;
//   position: absolute;
//   right: 1rem;
//   bottom: 1rem;
//   --background: transparent;

//   ion-button {
//     position: relative;
//     right: unset;
//     bottom: unset;
//   }
// }
