<!-- <ion-header [translucent]="true"></ion-header> -->

<ion-content [fullscreen]="true">
  <div class="pageHeader">
    <span>guia rápido</span>
    <h1>sepse</h1>
  </div>

  <ion-card class="tooltipCard">
    <ion-card-content>
      <div></div>
      <p>Sepse é uma alteração no funcionamento de um ou mais órgãos após uma infecção.<br>É grave e pode levar à morte!</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="infoCard">
    <ion-card-content>
      <p>Como saber se estou com Sepse?</p>
    </ion-card-content>
  </ion-card>
  <div>
    <ion-tab-button class="navCard" tab="tab1/habits">
      <ion-card class="infoCard">
        <ion-card-content>
          <p>Orientações para prevenir a Sepse</p>
        </ion-card-content>
      </ion-card>
    </ion-tab-button>
  </div>

</ion-content>
