<ion-header>
  <div class="pageHeader">
    <img src="../../assets/icon/LogoIcon.svg">
  </div>
  <h1>Prevenção de lesões</h1>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="title">
    <h1>O que é Lesão por pressão?</h1>
  </div>

  <ion-card class="infoCard greenCard">
    <ion-card-content>
      <p><strong>Lesão por pressão</strong> é um ferimento que ocorre pela pressão entre a pele e uma superfície.</p>
      <img src="../../assets/illustrations/IllustrationGreenCard.svg">
      <div style="clear: both;"></div>
    </ion-card-content>
  </ion-card>

  <div style="margin-bottom: 15px;">
    <ion-tab-button class="navCard" tab="tab1/howithappens">
      <ion-card class="infoCard" style="background-image: url('../../assets/backgrounds/TabDefaultBackground.svg');">
        <ion-card-content>
          <h1>Como acontece?</h1>
          <img src="../../assets/illustrations/IllustrationHowItHappens.svg">
          <ion-button>Saiba mais <ion-icon name="arrow-forward"></ion-icon></ion-button>
        </ion-card-content>
      </ion-card>
    </ion-tab-button>
  </div>

  <div style="margin-bottom: 15px;">
    <ion-tab-button class="navCard" tab="tab1/recommendation">
      <ion-card class="infoCard"  style="background-image: url('../../assets/backgrounds/TabDefaultBackground.svg');">
        <ion-card-content>
          <h1>Recomendações</h1>
          <img src="../../assets/illustrations/IllustrationRecommendation.svg">
          <ion-button>Saiba mais <ion-icon name="arrow-forward"></ion-icon></ion-button>
        </ion-card-content>
      </ion-card>
    </ion-tab-button>
  </div>

</ion-content>
