<ion-header>
  <div class="pageHeader">
    <img src="../../assets/icon/LogoIcon.svg">
  </div>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="title">
    <h1>O que é Sepse?</h1>
  </div>

  <ion-card class="infoCard greenCard">
    <ion-card-content>
      <p><strong>Sepse</strong> é uma alteração no funcionamento de um ou mais órgãos após uma infecção.</p>
      <p>É grave e sua <strong>identificação precoce</strong> é essencial para evitar complicação e morte.</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="infoCard" style="background-image: url('../../assets/backgrounds/TabDefaultBackground.svg');">
    <ion-card-content>
      <h1>Como saber se estou com Sepse?</h1>
      <img src="../../assets/illustrations/IllustrationQuestion.svg">
      <ion-button>Saiba Mais <ion-icon name="arrow-forward"></ion-icon></ion-button>
    </ion-card-content>
  </ion-card>

  <div style="margin-bottom: 15px;">
    <ion-tab-button class="navCard" tab="tab1/habits">
      <ion-card class="infoCard"  style="background-image: url('../../assets/backgrounds/TabDefaultBackground.svg');">
        <ion-card-content>
          <h1>Hábitos que evitam infecções</h1>
          <img src="../../assets/illustrations/IllustrationShield.svg">
          <ion-button>Saiba Mais <ion-icon name="arrow-forward"></ion-icon></ion-button>
        </ion-card-content>
      </ion-card>
    </ion-tab-button>
  </div>

</ion-content>
