.pageHeader {
  margin: auto;
  margin-top: 50px;
  width: 50%;
  text-align: center;

  * {
    text-transform: uppercase;
  }

  span {
    background-color: #33bdbd;
    padding: 5px 16px;
    font-size: 1.4em;
  }

  h1 {
    color: black;
    font-weight: 700;
    font-size: 3.4em;
    margin-top: 0.25em;
  }
}
