ion-header{
  background: #00BB7E url("../../assets/backgrounds/Tab1HeaderBackground.svg") no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
  background-size: cover;
  padding-bottom: 30px;

  .pageHeader {
    margin: auto;
    margin-top: 50px;
    width: 50%;
    text-align: center;

    +h1 {
      text-align: center;
      font: 700 2rem/2.4rem Inter;
      white-space: nowrap;
      margin-top: 0.5rem;
    }

    * {
      text-transform: uppercase;
    }
  }

  @media screen and (max-width: 600px) {
    .pageHeader +h1 {
      font-size: 1.75rem;
    }
  }
}

ion-content {
  --offset-top: 20px !important;
  z-index: 10;
  // margin-top: 1em;
  // overflow-y: scroll;

  &::part(background) {
    border-radius: 20px 20px 0px 0px !important;
  }

  &::part(scroll) {
    margin-top: 1em;
  }

  >div.title {
    width: 90%;
    margin: auto;

    h1 {
      font: 600 1.5em/1.8em Inter;
      margin: 0;
      color: #343538;
    }
  }

  @media screen and (max-width: 500px) {
    >div.title h1 {
      font-size: 1.4em;
    }

    .greenCard ion-card-content p {
      font: 500 0.9em/1.35em Inter;
    }
  }
}
