<!-- <ion-header [translucent]="true"></ion-header> -->

<ion-content [fullscreen]="true">
  <ion-icon name="triangle"></ion-icon>
  <div class="listContainer">
    <ion-tab-button tab="tab3/team">
      <div>
        <img src="../../assets/icon/TeamIcon.svg">
        <ion-label>Equipe</ion-label>
      </div>
      <img src="../../assets/icon/ArrowForwardIcon.svg">
    </ion-tab-button>
    <ion-tab-button tab="tab3/refs">
      <div>
        <img src="../../assets/icon/RefsIcon.svg">
        <ion-label>Referências</ion-label>
      </div>
      <img src="../../assets/icon/ArrowForwardIcon.svg">
    </ion-tab-button>
    <ion-tab-button tab="tab3/terms">
      <div>
        <img src="../../assets/icon/TermsIcon.svg">
        <ion-label>Termos de Uso</ion-label>
      </div>
      <img src="../../assets/icon/ArrowForwardIcon.svg">
    </ion-tab-button>
    <ion-tab-button tab="tab3/politics">
      <div>
        <img src="../../assets/icon/PoliticsIcon.svg">
        <ion-label>Política de Privacidade</ion-label>
      </div>
      <img src="../../assets/icon/ArrowForwardIcon.svg">
    </ion-tab-button>
  </div>

  <div class="pageFooter" (click)="copyEmail()">
    <p>Entre em contato por:</p>
    <span id="emailText">contatoguiarapidosaude@gmail.com</span>
  </div>
</ion-content>
