.pageFooter {
  position: fixed;
  bottom: 2rem;
  width: 100%;
  text-align: center;

  p {
    color: #343538;
    font: 600 1em/1.5em Inter;
    margin: 0;
    margin-bottom: .5em;
  }

  span {
    color: #525657;
    font: 400 1em/1.2em Inter;
  }
}

.tab3SubPageHeader {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: #F8F9FA;

  width: 100%;
  padding: 2.5em 5% 1rem 5%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .line {
    position: absolute;
    bottom: -2px;
    width: 90%;
    border-bottom: 2px solid #E8E9EB;
  }

  img {
    width: 1.5em;
  }

  h1 {
    font: 600 1.5em/1.8em Inter;
    color: black;
    margin: 0;
  }

  div {
    width: 1.5em;
  }
}

.listContainer {
  padding: 0 1.5em;
  margin-top: 2.5em;

  ion-tab-button, ion-item {
    --background: #F8F9FA;
    --border-color: #E8E9EB;
    --padding-start: 0;
    --padding-end: 0;
    --padding-bottom: 0;
    padding-bottom: 1em;
    border-bottom: 2px solid #E9ECEF;
    margin-bottom: 1em;
    font-size: unset;
    max-width: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    div {
      width: auto;

      ion-label {
        font: 600 1.125em/1.375em Inter;
        color: #343538;
        margin: 0 0 0 1em;
        float: left;
      }

      img {
        float: left;
        width: 1.5em;
      }
    }

    img {
      width: 1.5em;
    }
  }
}

.teamList {
  position: relative;
  width: 100%;
  padding: 0 5% 1.5rem 5%;
  margin-top: .4em;
  font-size: unset;
  height: calc(100% - 8.2rem - 14vw);
  overflow-y: scroll;


  .teamItem {
    padding-bottom: .5em;
    border-bottom: 2px solid #E9ECEF;
    margin-top: 2em;

    h1 {
      font: 600 1.125em/1.375em Inter;
      color: #343538;
      margin: 0 0 .5em 0;
    }

    p {
      font: 400 1em/1.1875em Inter;
      color: #525657;
      margin: 0;
    }
  }
}

.byCordel {
  position: fixed;
  width: 35%;
  bottom: 1rem;
  left: 0;
  right: 0;
  margin: auto;
}

.refsCard {
  width: 90%;
  margin: auto;
  margin-top: 2em;
  --background: #fff;
  border: 1px solid rgba(11, 19, 36, 0.07);
  box-shadow: 0px 1px 3px rgba(11, 19, 36, 0.1), inset 0px -1px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 0;
  font-size: unset;

  ion-card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .5em;
    font-size: unset;

    img {
      width: 1.5em;
    }

    p {
      font: 600 1em/1.5em Inter;
      color: #343538;
      margin: 0;
      border-left: 2px solid #E9ECEF;
      padding-left: .5em;
      margin-left: .5em;
    }
  }

}

.appDocs {
  width: 100%;
  padding: 0 .75em;

  p {
    color: black;
  }
}
