<!-- <ion-header [translucent]="true"></ion-header> -->

<ion-content [fullscreen]="true">
  <ion-icon name="triangle"></ion-icon>
  <div class="listContainer">
    <ion-item>
      <ion-label>Equipe</ion-label>
      <img src="../../assets/icon/ArrowForwardIcon.svg">
    </ion-item>
    <ion-item>
      <ion-label>Referências</ion-label>
      <img src="../../assets/icon/ArrowForwardIcon.svg">
    </ion-item>
    <ion-item>
      <ion-label>Termos de Uso</ion-label>
      <img src="../../assets/icon/ArrowForwardIcon.svg">
    </ion-item>
    <ion-item>
      <ion-label>Política de Privacidade</ion-label>
      <img src="../../assets/icon/ArrowForwardIcon.svg">
    </ion-item>
  </div>
</ion-content>
