<ion-content>
  <div class="tab3SubPageHeader">
    <img src="../../../assets/icon/ArrowForwardIcon.svg" style="transform: rotate(180deg);" (click)="navBack()">
    <h1>Termos de Uso</h1>
    <div></div>
    <div class="line"></div>
  </div>
  <div class="appDocs">
    <p>Os serviços do Guia Rápido: Sepse são fornecidos pela empresa Somos Cordel, inscrito no CNPJ sob o nº 38.974.513/0001-76, em parceria com o Instituto Federal de Educação, Ciência e Tecnologia de Pernambuco (IFPE), titular da propriedade intelectual, conteúdos e demais ativos relacionados ao aplicativo Guia Rápido: Sepse.
      <br>
      1. Do objeto<br>
      1.1. O Instituto Federal de Educação, Ciência e Tecnologia de Pernambuco (IFPE) visa licenciar o uso de seu aplicativo e demais ativos de propriedade intelectual, fornecendo um aplicativo informativo sobre Sepse para o público livre.
      <br>
      1.2. A plataforma caracteriza-se pela prestação do seguinte serviço: Desenvolvimento e publicação de um aplicativo com cunho informativo voltado aos cuidados e prevenções relacionadas à Sepse.
      <br>
      2. Da aceitação<br>
      2.1. O presente Termo estabelece obrigações contratadas de livre e espontânea vontade, por tempo indeterminado, entre a plataforma e as pessoas físicas ou jurídicas, usuárias do aplicativo.
      <br>
      2.2. Ao utilizar o aplicativo o usuário aceita integralmente as presentes normas e compromete-se a observá-las, sob o risco de aplicação das penalidades cabíveis.
      <br>
      2.3. A aceitação do presente instrumento é imprescindível para o acesso e para a utilização de quaisquer serviços fornecidos pela empresa. Caso não concorde com as disposições deste instrumento, o usuário não deve utilizá-los.
      <br>
      3. Do acesso dos usuários<br>
      3.1. Serão utilizadas todas as soluções técnicas à disposição do responsável pelo aplicativo para permitir o acesso ao serviço 24 (vinte e quatro) horas por dia, 7 (sete) dias por semana. No entanto, a navegação no aplicativo ou em alguma de suas páginas poderá ser interrompida, limitada ou suspensa para atualizações, modificações ou qualquer ação necessária ao seu bom funcionamento.
      <br>
      4. Do cadastro<br>
      4.1. O aplicativo é de uso livre e não requer que o usuário conecte-se a nenhuma conta para utilizar seus serviços.
      <br>
      4.2. O usuário, ao aceitar os Termos e Política de Privacidade, autoriza expressamente ao aplicativo a coletar, usar, armazenar, tratar, ceder ou utilizar as informações derivadas do uso dos serviços, do aplicativo e quaisquer plataformas, além de outras expressamente descritas na Política de Privacidade que deverá ser autorizada pelo usuário.
      <br>
      5. Do suporte<br>
      5.1. Em caso de qualquer dúvida, sugestão ou problema com a utilização do aplicativo, o usuário poderá entrar em contato com o suporte, através do email contatoguiarapidosaude@gmail.com.
      <br>
      5.2. Estes serviços de atendimento ao usuário estarão disponíveis nos seguintes dias e horários: Dias úteis, das 10h às 18h.
      <br>
      6. Das responsabilidades<br>
      6.1. É de responsabilidade do usuário:<br>
      a) defeitos ou vícios técnicos originados no próprio sistema do usuário;<br>
      b) a correta utilização do aplicativo prezando pela boa convivência, pelo respeito e cordialidade entre os usuários;<br>
      c) pelo cumprimento e respeito ao conjunto de regras disposto nesse Termo de Condições Geral de Uso, na respectiva Política de Privacidade e na legislação nacional e internacional;
      <br>
      6.2. É de responsabilidade do aplicativo Guia Rápido: Sepse:<br>
      a) indicar as características do serviço ou produto;<br>
      b) os defeitos e vícios encontrados no serviço ou produto oferecido desde que lhe tenha dado causa;<br>
      c) as informações que foram por ele divulgadas, sendo que os comentários ou informações divulgadas por usuários são de inteira responsabilidade dos próprios usuários;<br>
      d) os conteúdos ou atividades ilícitas praticadas através da sua plataforma;
      <br>
      6.3. A plataforma não se responsabiliza por links externos contidos em seu sistema que possam redirecionar o usuário ao ambiente externo a sua rede.
      <br>
      6.4. Não poderão ser incluídos links externos ou páginas que sirvam para fins comerciais ou publicitários ou quaisquer informações ilícitas, violentas, polêmicas, pornográficas, xenofóbicas, discriminatórias ou ofensivas.
      <br>
      7. Dos direitos autorais<br>
      7.1. O presente Termo de Uso concede aos usuários uma licença não exclusiva, não transferível e não sublicenciável, para acessar e fazer uso da plataforma e dos serviços e produtos por ela disponibilizados.
      <br>
      7.2. A estrutura do site ou aplicativo, as marcas, logotipos, nomes comerciais, layouts, gráficos e design de interface, imagens, ilustrações, fotografias, apresentações, vídeos, conteúdos escritos e de som e áudio, programas de computador, banco de dados, arquivos de transmissão e quaisquer outras informações e direitos de propriedade intelectual da razão social Somos Cordel, observados os termos da Lei da Propriedade Industrial (Lei nº 9.279/96), Lei de Direitos Autorais (Lei nº 9.610/98) e Lei do Software (Lei nº 9.609/98), estão devidamente reservados.
      <br>
      7.3. Este Termos de Uso não cede ou transfere ao usuário qualquer direito, de modo que o acesso não gera qualquer direito de propriedade intelectual ao usuário, exceto pela licença limitada ora concedida.
      <br>
      7.4. O uso da plataforma pelo usuário é pessoal, individual e intransferível, sendo vedado qualquer uso não autorizado, comercial ou não-comercial. Tais usos consistirão em violação dos direitos de propriedade intelectual da razão social Somos Cordel, puníveis nos termos da legislação aplicável.
      <br>
      8. Das sanções<br>
      8.1. Sem prejuízo das demais medidas legais cabíveis, a razão social Somos Cordel poderá, a qualquer momento, advertir, suspender ou cancelar o acesso do usuário:
      <br>
      a) que violar qualquer dispositivo do presente Termo;<br>
      b) que descumprir os seus deveres de usuário;<br>
      c) que tenha qualquer comportamento fraudulento, doloso ou que ofenda a  terceiros.
      <br>
      9. Das alterações<br>
      9.1. Os itens descritos no presente instrumento poderão sofrer alterações, unilateralmente e a qualquer tempo, por parte da Somos Cordel como prestadora de serviço e pela Instituto Federal de Educação, Ciência e Tecnologia de Pernambuco (IFPE), detentora dos direitos autorais, para adequar ou modificar os serviços, bem como para atender novas exigências legais. As alterações serão veiculadas pelo aplicativo Guia Rápido: Sepse.
      <br>
      10. Da política de privacidade<br>
      10.1. Além do presente Termo, o usuário deverá consentir com as disposições contidas na respectiva Política de Privacidade a ser apresentada a todos os interessados dentro da interface do aplicativo.
      <br>
      11. Do foro<br>
      11.1. Para a solução de controvérsias decorrentes do presente instrumento será aplicado integralmente o Direito brasileiro.<br>
      11.2. Os eventuais litígios deverão ser apresentados no foro da comarca em que se encontra a sede da empresa.
    </p>
  </div>
</ion-content>
