<ion-content>
  <div class="tab3SubPageHeader">
    <img src="../../../assets/icon/ArrowForwardIcon.svg" style="transform: rotate(180deg);" (click)="navBack()">
    <h1>Equipe</h1>
    <div></div>
  </div>

  <div class="teamList">
    <div class="teamItem">
      <h1>Ana Carla Silva Alexandre</h1>
      <p>Instituto Federal de Educação Ciência e Tecnologia de Pernambuco (IFPE)</p>
    </div>
    <div class="teamItem">
      <h1>Eurivânio Welíson Pereira da Silva</h1>
      <p>Instituto Federal de Educação Ciência e Tecnologia de Pernambuco (IFPE)</p>
    </div>
    <div class="teamItem">
      <h1>Jhenyff de Barros Remigio Limeira</h1>
      <p>Instituto Federal de Educação Ciência e Tecnologia de Pernambuco (IFPE)</p>
    </div>
    <div class="teamItem">
      <h1>Juliana Nayara dos Santos Silva</h1>
      <p>Instituto Federal de Educação Ciência e Tecnologia de Pernambuco (IFPE)</p>
    </div>
  </div>

  <img class="byCordel" src="../../../assets/illustrations/MadeByCordel.svg">
</ion-content>
