<!-- <ion-header></ion-header> -->

<ion-content [fullscreen]="true">
  <ion-card class="infoCard" style="background-image: url('../../assets/backgrounds/TabDefaultBackground.svg');">
    <ion-card-content>
      <h1>Recomendações para prevenir lesões</h1>
      <img src="../../assets/illustrations/tab2/IllustrationPrevent.svg">
    </ion-card-content>
  </ion-card>

  <div class="sectionInfo preventSectionInfo">
    <img src="../../assets/illustrations/tab2/prevent/Illustration1.svg">
    <p>Hidrate a pele diariamente</p>
  </div>

  <div class="sectionInfo preventSectionInfo hidden">
    <img src="../../assets/illustrations/tab2/prevent/Illustration2.svg">
    <p>Mantenha lençóis limpos e esticados em caso de uso domiciliar</p>
  </div>

  <div class="sectionInfo preventSectionInfo hidden">
    <img src="../../assets/illustrations/tab2/prevent/Illustration3.svg">
    <p>Trocar a fralda sempre que estiver molhada ou suja</p>
  </div>

  <div class="sectionInfo preventSectionInfo hidden">
    <img src="../../assets/illustrations/tab2/prevent/Illustration4.svg">
    <p>Utilizar apoios (travesseiros ou espumas), na altura da panturrilha para erguer os pés e proteger os calcanhares</p>
  </div>

  <div class="sectionInfo preventSectionInfo hidden">
    <img src="../../assets/illustrations/tab2/prevent/Illustration5.svg">
    <p>A utilização do colchão pneumático pode influenciar na redução dos riscos de aparecimento de LPPs em pacientes.</p>
  </div>

  <div class="sectionInfo preventSectionInfo hidden">
    <img src="../../assets/illustrations/tab2/prevent/Illustration6.svg">
    <p>Protetores multicamadas são proteções que tem como objetivo aliviar a pressão nas elevações ósseas como a do calcâneo e sacral</p>
  </div>

  <div class="sectionInfo preventSectionInfo hidden">
    <img src="../../assets/illustrations/tab2/prevent/Illustration7.svg">
    <p>Roupas de cama feitas de tecido do tipo seda ao invés de tecidos de algodão ou misturas do mesmo, podem reduzir o cisalhamento e a fricção</p>
  </div>

  <div class="footBar" id="preventFootBar">
    <div class="pageIndicator">
      <div class="pageBullets preventPageBullet"></div>
      <div class="pageBullets preventPageBullet"></div>
      <div class="pageBullets preventPageBullet"></div>
      <div class="pageBullets preventPageBullet"></div>
      <div class="pageBullets preventPageBullet"></div>
      <div class="pageBullets preventPageBullet"></div>
      <div class="pageBullets preventPageBullet"></div>
    </div>
    <button class="pageButtons preventPageButtons" color="dark" (click)="previousPage()">Voltar</button>
    <button class="pageButtons preventPageButtons" color="primary" (click)="nextPage()">Próxima</button>
  </div>
</ion-content>
