<!-- <ion-header></ion-header> -->

<ion-content [fullscreen]="true">
  <ion-card class="infoCard">
    <ion-card-content>
      <p>Orientações para prevenir a Sepse</p>
    </ion-card-content>
  </ion-card>

  <div id="footBar">
    <div class="pageIndicator">
      <div class="pageBullet current"></div>
      <div class="pageBullet"></div>
      <div class="pageBullet"></div>
    </div>
    <button class="pageButtons" color="dark" (click)="previousPage()">Voltar</button>
    <button class="pageButtons" color="primary" (click)="nextPage()">Próxima</button>
  </div>
</ion-content>
