<ion-content>
  <div class="tab3SubPageHeader">
    <img src="../../../assets/icon/ArrowForwardIcon.svg" style="transform: rotate(180deg);" (click)="navBack()">
    <h1>Política de Privacidade</h1>
    <div></div>
    <div class="line"></div>
  </div>
  <div class="appDocs">
    <p>
      1. Informações Gerais<br>
      1.1. A presente Política de Privacidade contém informações sobre coleta, uso, armazenamento, tratamento e proteção dos dados pessoais dos usuários e visitantes do aplicativo Guia para prevenção de lesões, com a finalidade de demonstrar absoluta transparência quanto ao assunto e esclarecer a todos interessados sobre os tipos de dados que são coletados, os motivos da coleta e a forma como os usuários podem gerenciar ou excluir as suas informações pessoais.
      <br>
      1.2. Esta Política de Privacidade aplica-se a todos os usuários e visitantes do aplicativo Guia para prevenção de lesões e integra os Termos e Condições Gerais de Uso do mesmo, devidamente inscrita no CNPJ sob o nº CNPJ sob o nº 38.974.513/0001-76 situado em Rua do Apolo, 235 Recife - CEP 50030-220, doravante nominada Somos Cordel.
      <br>
      1.3. O presente documento foi elaborado em conformidade com a Lei Geral de Proteção de Dados Pessoais (Lei 13.709/18), o Marco Civil da Internet (Lei 12.965/14) e o Regulamento da UE n. 2016/6790. Ainda, o documento poderá ser atualizado em decorrência de eventual atualização normativa, razão pela qual se convida o usuário a consultar periodicamente esta seção.
      <br>
      2. Como recolhemos os dados pessoais do usuário?<br>
      2.1. Os dados pessoais do usuário são recolhidos pela plataforma da seguinte forma:
      <br>
      2.2. Algumas funções do aplicativo Guia para prevenção de lesões requisitam que o usuário preencha alguns campos com informações pessoais. Todas as informações obtidas são fechadas dentro de um seleto número de opções. As informações recolhidas são utilizadas somente dentro do aplicativo e não são armazenadas fora do mesmo.
      <br>
      3. Quais dados pessoais recolhemos sobre o usuário e visitante?<br>
      3.1. Os dados pessoais do usuário e visitante recolhidos são os seguintes:
      <br>
      3.2. Dados relacionados ao quadro de saúde do usuário relacionados ao risco da lesão por pressão.
      <br>
      4. Para que finalidades utilizamos os dados pessoais do usuário?<br>
      4.1. Os dados pessoais do usuário e do visitante coletados e armazenados pelo aplicativo Guia para prevenção de lesões tem por finalidade:
      <br>
      4.2. Informar e alertar o mesmo sobre riscos da lesão por pressão.
      <br>
      4.3. Bem-estar do usuário e visitante: aprimorar o produto e/ou serviço oferecido, facilitar, agilizar e cumprir os compromissos estabelecidos entre o usuário e a empresa, melhorar a experiência dos usuários e fornecer funcionalidades específicas a depender das características básicas do usuário.
      <br>
      4.4. Melhorias da plataforma: compreender como o usuário utiliza os serviços da plataforma, para ajudar no desenvolvimento de negócios e técnicas.
      <br>
      4.5. Manter funcionalidades dentro do aplicativo funcionando.
      <br>
      4.6. O tratamento de dados pessoais para finalidades não previstas nesta Política de Privacidade somente ocorrerá mediante comunicação prévia ao usuário, de modo que os direitos e obrigações aqui previstos permanecem aplicáveis.
      <br>
      5. Por quanto tempo os dados pessoais ficam armazenados?<br>
      5.1. Os dados pessoais do usuário e visitante são armazenados pela plataforma durante o período necessário para a prestação do serviço ou o cumprimento das finalidades previstas no presente documento, conforme o disposto no inciso I do artigo 15 da Lei 13.709/18.
      <br>
      5.2. Os dados serão mantidos enquanto o usuário fizer uso das funcionalidades do aplicativo Guia para prevenção de lesões.
      <br>
      6. Segurança dos dados pessoais armazenados<br>
      6.1. A plataforma se compromete a aplicar as medidas técnicas e organizativas aptas a proteger os dados pessoais de acessos não autorizados e de situações de destruição, perda, alteração, comunicação ou difusão de tais dados.
      <br>
      6.2. Os dados pessoais armazenados são tratados com confidencialidade, dentro dos limites legais. No entanto, podemos divulgar suas informações pessoais caso sejamos obrigados pela lei para fazê-lo ou se você violar nossos Termos de Serviço.
      <br>
      7. Compartilhamento dos dados<br>
      7.1. Não há compartilhamento de dados dentro do aplicativo, os dados pessoais não são acessíveis por outros usuários dentro do aplicativo Guia para prevenção de lesões.
      <br>
      8. Consentimento<br>
      8.1. Ao utilizar os serviços e fornecer as informações pessoais na plataforma, o usuário está consentindo com a presente Política de Privacidade.
      <br>
      8.2. O usuário tem direito de retirar o seu consentimento a qualquer tempo, para tanto deve entrar em contato através do e-mail contatoguiarapidosaude@gmail.com.
      <br>
      9. Alterações para essa política de privacidade<br>
      9.1. Reservamos o direito de modificar essa Política de Privacidade a qualquer momento, então, é recomendável que o usuário e visitante revisem-a com frequência.
      <br>
      9.2. As alterações e esclarecimentos vão surtir efeito imediatamente após sua publicação no aplicativo. Quando realizadas alterações os usuários serão notificados. Ao utilizar o serviço ou fornecer informações pessoais após eventuais modificações, o usuário e visitante demonstra sua concordância com as novas normas.
      <br>
      9.3. Diante da fusão ou venda do aplicativo à outra empresa os dados dos usuários podem ser transferidos para os novos proprietários para que a permanência dos serviços oferecidos.
      <br>
      10. Jurisdição para resolução de conflitos<br>
      10.1. Para a solução de controvérsias decorrentes do presente instrumento será aplicado integralmente o Direito brasileiro.
      <br>
      10.2. Os eventuais litígios deverão ser apresentados no foro da comarca em que se encontra a sede da empresa.
    </p>
  </div>
</ion-content>
